{% extends M.userbase.config.master_template %}
{% import "_m/userbase/macros.html" as formmacros with context %}                                                                                                           
{% block content %}
    <div class="row">
        <div class="span8">
            <div class="form">
                <h2>{{_("You need to activate our account")}}</h2>
                <div>
                    {{_("You have received a code by email. You can either click the link provided in the email or you can manually enter the code below.")}}
                </div>
                
                <form class="form" id="ub-activation-form" method="POST" action="{{url}}">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="code">{{_('Activation Code')}}</label>
                            <input type="text" name="code" id="code" class="form-control" size=20>
                            <span class="help-block">{{_("Enter the code from the activation email here")}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-actions col-md-6">
                            <input type="submit" class="btn btn-primary btn-large" value="{{_("Activate your account")}}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="span4">
        </div>
    </div>
{% endblock %}
