{% extends M.userbase.config.master_template %}
{% import "_m/userbase/macros.html" as formmacros with context %}

{% block content %}
<div id="index">
    <div class="row">
        <div class="span8">
            <section class="form">
                <h2>{{_('Set new password')}}</h2>
                <div class="description">
                    {{_("Use the form below to set a new password for your account.")}}
                </div>
                <form class="horizontal-form validate" method="POST" action="{{url}}">
                    <input type="hidden" name="code" value="{{code}}">
                    {{ formmacros.form_field(form.password, class="span4 pw required", id="password") }}
                    {{ formmacros.form_field(form.password2, class="span4 required", equalTo="#password") }}
                    <fieldset class="form-actions">
                        <div class="input">
                            <input type="submit" class="btn btn-primary btn-large" value="{{_("Save new password")}}">
                        </div>
                    </fieldset>
                </form>
            </section>
        </div>
        <div class="span4">
        </div>
    </div>
</div>
{% endblock %}
