{% extends "master/master.html" %}

{% block content %}
      <div class="row">
        <div class="span16">
            <h1>Vielen Dank für Ihre Registrierung</h1>

            <div class="txt-large">Wir senden Ihnen nun noch einen Verifizierungs-Code an die angegebene Email-Adresse. Bitte
            folgen Sie einfach den Instruktionen innerhalb der Mail.</div>

            <div class="padTT">
                <a href="/" class="button">Zurück zur Homepage</a>
            </div>
        </div>
      </div>
{% endblock %}
