{% extends M.userbase.config.master_template %}
{% import "_m/userbase/macros.html" as macros with context %}                                                                                                           

{% block content %}
<div id="index">
    <div class="row">
        <div class="span8">
            <section class="form">
                <h2>{{_('Set a new password')}}</h2>
                <div class="description">
                {{_('Please enter your email address below and we will send you instructions on how to set a new password.')}}
                </div>
                <form class="well horizontal-form validate" method="POST" action="{{url}}">
                    {{ macros.form_field(form.email, class="required email") }}
                    <input type="submit" class="btn btn-primary" value="{{_('Request new password')}}">
                </form>
            </section>
        </div>
        <div class="span4">
        </div>
    </div>
</div>
{% endblock %}
