{% extends "master/master.html" %}

{% block content %}
<div id="index">
    <div class="row">
        <div class="span8">
            <section class="form">
                <h2>{{_("The activation code is incorrect")}}</h2>
                <h3>{{_("Please enter your e-mail address and we will send you a new activation code")}}</h3>
                <form class="horizontal-form validate" method="POST" action="{{url}}">
                    {{ macros.field(form.email, form.email(class="required")) }}
                    <fieldset class="form-actions">
                        <input type="submit" class="button large" value="{{_("Send new activation code")}}">
                    </fieldset>
                </form>
            </section>
        </div>
        <div class="span4">
        </div>
    </div>
</div>
{% endblock %}
