{% extends M.userbase.config.master_template %}
{% import "_m/userbase/macros.html" as macros with context %}                                                                                                           

{% block content %}
<div id="index">
    <div class="row">
        <div class="span8">
            <section class="form">
                <h2>Please log in</h2>
                <form class="horizontal-form validate" method="POST" action="{{url}}">
                    {% for field in form %}
                        {{ macros.form_field(field) }}
                    {% endfor %}
                    <fieldset class="form-actions">
                        <input type="submit" class="btn large" value="Login">
                 {#       <a href="{{url_for("pw_forgot")}}">Passwort vergessen?</a>#}
                    </fieldset>
                </form>
            </section>
        </div>
    </div>
</div>
{% endblock %}
