{% extends "master/master.html" %}

{% block content %}
<div id="index">
    <div class="row">
        <div class="span8">
            <section class="form">
                <h2>Passwort vergessen</h2>
                <h3>Bitte gebe Deine E-Mail-Adresse ein und wir senden Dir eine Anleitung, um ein neues Passwort zu setzen</h3>
                <form class="horizontal-form validate" method="POST" action="{{url}}">
                    {{ macros.field(form.email, form.email(class="required")) }}
                    <fieldset class="form-actions">
                        <input type="submit" class="button large" value="Anleitung senden">
                    </fieldset>
                </form>
            </section>
        </div>
        <div class="span4">
        </div>
    </div>
</div>
{% endblock %}
