{% extends M.userbase.config.master_template %}
{% import "_m/userbase/macros.html" as formmacros with context %}                                                                                                           

{% block content %}
<div id="index">
    <div class="row">
        <div class="col-md-12">
            <h2>User Manager</h2>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>    
                            Username
                        </th>
                        <th>    
                            E-Mail
                        </th>
                        <th>    
                            Fullname
                        </th>
                        <th>    
                            Permissions
                        </th>
                        <th>    
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>
                            {{user.user.username}}
                        </td>
                        <td>
                            <a href="mailto:{{user.user.email}}">{{user.user.email}}</a>
                        </td>
                        <td>
                            {{user.user.fullname}}
                        </td>
                        <td>
                            {{user.readable_permissions}}
                        </td>
                        <td>
                            <nobr>
                            <a href="{{url_for(".useredit", uid = user.id)}}" class="btn btn-mini"><i class="icon icon-pencil"></i></a>
                            <a href="#" class="btn btn-mini"><i class="icon icon-trash"></i></a>
                            {% if user.user.active %}
                                <form style="display: inline-block" method="POST" action="{{url_for('.useractivate', uid = user.id)}}">
                                    <button href="{{url_for('.useractivate', uid = user.id)}}" class="btn btn-danger btn-xs">DEACTIVATE</button>
                                </form>
                            {% else %}
                                <form style="display: inline-block" method="POST" action="{{url_for('.useractivate', uid = user.id)}}">
                                    <button href="{{url_for('.useractivate', uid = user.id)}}" class="btn btn-success btn-xs">ACTIVATE</button>
                                </form>
                            {% endif %}
                            <a href="{{url_for('.sendpw', uid = user.id)}}?method=POST" class="btn btn-xs btn-default">SEND PW</a>
                            </nobr>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a href="{{url_for(".useradd")}}" class="btn btn-large btn-primary"><i class="icon icon-white icon-plus"></i> Add user</a>
        </div>
    </div>
</div>
{% endblock %}
