.padT {
  padding-top: 5px;
}
.padTT {
  padding-top: 10px;
}
.padTTT {
  padding-top: 20px;
}
.txt-large {
  font-size: 1.2em;
  line-height: 1.5em;
}
body {
  background: #eee;
}
header {
  margin-top: 50px;
  height: 70px;
}
header h1 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 50px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}
.form {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 20px;
  background-color: #111111;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#444444), to(#111111));
  background-image: -moz-linear-gradient(top, #444444, #111111);
  background-image: -ms-linear-gradient(top, #444444, #111111);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #444444), color-stop(100%, #111111));
  background-image: -webkit-linear-gradient(top, #444444, #111111);
  background-image: -o-linear-gradient(top, #444444, #111111);
  background-image: linear-gradient(top, #444444, #111111);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#111111', GradientType=0);
  border-color: #111111 #111111 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.3), inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.3), inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.3), inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  border: 1px solid #333;
  color: #d0d0d0;
}
.form h2, .form h3 {
  font-family: 'Oswald', "Helvetica", "Arial";
  color: #ccc;
  font-weight: normal;
  margin-left: 154px;
  padding-bottom: 20px;
  font-size: 15px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.9);
}
.form h2 {
  font-size: 30px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6), 0 -1px 0 rgba(0, 0, 0, 0.7);
}
.form label {
  margin-top: 10px;
  color: #ddd;
  font-size: 14px;
  font-weight: normal;
  text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.6);
}
.form fieldset {
  margin: 0;
}
.form input, .form textarea {
  padding: 2px 5px;
  margin: 10px 0;
  background: #666;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.9);
  height: 30px;
  border: 1px solid #333;
  width: 380px;
  color: #f0f0f0;
  -webkit-box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.9);
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.9);
}
.form input {
  font-size: 14px;
}
.form input:focus, .form textarea:focus {
  background: #eee;
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}
.form a {
  color: #ccc;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.9);
  position: relative;
  margin-left: 10px;
  top: -15px;
  font-size: 16px;
}
.form-actions {
  margin: 20px 0 0 0;
  background: transparent;
  border: none;
}
input.button, .button {
  font-family: "Oswald", serif;
  font-size: 15px;
  background: #feda71;
  background-color: #febb4a;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#feda71), to(#febb4a));
  background-image: -moz-linear-gradient(top, #feda71, #febb4a);
  background-image: -ms-linear-gradient(top, #feda71, #febb4a);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #feda71), color-stop(100%, #febb4a));
  background-image: -webkit-linear-gradient(top, #feda71, #febb4a);
  background-image: -o-linear-gradient(top, #feda71, #febb4a);
  background-image: linear-gradient(top, #feda71, #febb4a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feda71', endColorstr='#febb4a', GradientType=0);
  color: #996633;
  text-shadow: 0 1px 0 #fedd9b;
  padding: 10px 30px;
  width: auto;
  height: auto;
  border: 1px solid #f5b74e;
  border-color: #f5b74e #e5a73e #d6982f;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5), inset 0 1px 0 #fee395;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5), inset 0 1px 0 #fee395;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5), inset 0 1px 0 #fee395;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  display: inline-block;
}
input.button:hover, .button:hover {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  color: #774411;
  text-decoration: none;
  background-position: -15px -15px;
}
input.button:active, .button:active {
  background: #fec354;
  background-color: #fecd61;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fec354), to(#fecd61));
  background-image: -moz-linear-gradient(top, #fec354, #fecd61);
  background-image: -ms-linear-gradient(top, #fec354, #fecd61);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fec354), color-stop(100%, #fecd61));
  background-image: -webkit-linear-gradient(top, #fec354, #fecd61);
  background-image: -o-linear-gradient(top, #fec354, #fecd61);
  background-image: linear-gradient(top, #fec354, #fecd61);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fec354', endColorstr='#fecd61', GradientType=0);
  border-color: #d29a3a #cc9436 #c89133;
  -webkit-box-shadow: 0 1px 1px #d4d4d4, inset 0 1px 0 #fed17e;
  -moz-box-shadow: 0 1px 1px #d4d4d4, inset 0 1px 0 #fed17e;
  box-shadow: 0 1px 1px #d4d4d4, inset 0 1px 0 #fed17e;
}
.button.xlarge {
  font-size: 30px;
  padding: 20px 0px;
  text-align: center;
  width: 100%;
}
input.button {
  margin-left: 4px;
}
