
{% macro field(field, input) -%}
          <fieldset class="control-group {{'error' if field.errors}} ">
            {{ field.label(class="control-group") }}
            <div class="controls">
                {{ input }}
                {% if field.errors %}
                    <div>
                    {% for error in field.errors %}
                        <span class="help-inline">{{ error }}</span><br>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
          </fieldset>
{%- endmacro %}
